// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//background-image: url('../images/background.jpg');

/* Posts Index Stylesheet*/

* {
  margin: 0;
  padding: 0
}

body{
  background-color: rgb(80,95,137);
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: Georgia, Times, serif;

}

h1,h2,h3 {
  font-family: Helvetica, Arial, san-serif;
  text-align: center;
}



#container {
  width: 760px;
  margin: 0 auto;
}

header {
  background:#fff;
  color: #1a71b8; 
  text-align: center;
  padding: 10px;
}

article{
  margin: 20px 0;
  background: white;
  padding: 35px
}

article p{
  margin: 0 40px 1em;
}

section.post-head small{
  text-align: center;
  display: block;
  margin: 0 0 5px;
  padding: 0 0 5px;
  border-bottom: solid 1px #eee;
  color: rgb(51,52,81)
}

section.post-foot {
  font-size: 14px;
  border-top: solid 1px #eee;
  margin: 20px 0 0;
  padding: 20px 0 0 ;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgb(230, 224, 224);
  padding-bottom: 20px;
}

a{
  text-decoration: none;
}
a:link {
  color: rgb(11, 119, 151)
}

a:visited {
  color: rgb(11, 119, 151)  
}

a:hover {
  color: rgb(110, 4, 66);
}

a:active {
  color: black 
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}



th, td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}